# Ignorar arquivos objeto
*.o

# Ignorar todo o conteúdo de /data
/data/*
#Exceto o artigo.csv
!/data/artigo.csv

# Manter o diretório /data/db para poder versionar o .gitkeep
!/data/db/
# Dentro de /data/db, ignorar tudo
/data/db/*
# Exceto o .gitkeep
!/data/db/.gitkeep

# Ignorar todo o conteúdo de /bin, exceto o .gitkeep
/bin/*
!/bin/.gitkeep

# Ignorar configurações do VSCode
.vscode/*