# ignorar arquivos de objeto
*.o

# Ignorar todo o conteúdo do diretório de dados EXCETO o arquivo .gitkeep, para manter o diretório no repo
/data/*
!/data/.gitkeep

# Ignorar todo o conteúdo do diretório de binários gerados EXCETO o arquivo .gitkeep, para manter o diretório no repo
/bin/*
!/bin/.gitkeep
